diffusers==0.4.1
accelerate==0.26.0
transformers==4.24.0
ftfy
tensorboard
Jinja2
wandb
matplotlib
scikit-image
datasets
mmpycocotools==12.0.3
opencv-python
bbox_visualizer
mmcv-full==1.7.2
mmengine==0.10.4
modelcards
timm
clean-fid
huggingface-hub==0.25.2